{% load static %}

<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="utf-8">
    <title>HTML Academy: Седона</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="page-body">
<header class="width-container">
    <nav class="main-navigation">
        <a href="{% url 'home' %}" class="main-header-logo">
            <img src="{{ logo.logo.url }}" width="138" height="70" alt="Логотип сайта Седона. City of Sedona.">
        </a>
        <ul class="site-navigation">
            <li><a href="blank.html">Информация</a></li>
            <li><a href="blank.html">Фото и видео</a></li>
            <li><a href="blank.html">Карта штата</a></li>
            <li><a href="{% url 'hotels' %}">Гостиницы</a></li>
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>

